/* src/Login.css */

/* .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

/* .login-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
  width: 100%;
  max-width: 400px;
} */

/* .login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

/* .login-form button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #1976d2; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #1565c0; 
}

.login-alert {
  color: red;
  margin-bottom: 1rem;
}

.options {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.options a {
  color: #1976d2; 
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline; 
} */
